// Body
//$font-family-base: Arial, 'Droid Sans', 'Hiragino Sans GB', Simsun, STXihei, sans-serif, 'Microsoft YaHei';
$body-bg: #182023;
$text-color: #333;

// fonts
$icon-font-path: "/fonts/bootstrap/";

// link
$link-color: #333;
$link-hover-decoration: none;

// typography
$font-family-monospace: "Fira Code", Menlo, Monaco, Consolas, "Courier New", monospace;
$gray-lighter: transparent;

// navbar
$navbar-collapse-max-height: inherit;
$navbar-default-bg: #182023;
$navbar-default-border: transparent;
$navbar-default-link-color: lightgray;
$navbar-default-link-hover-color: #1abc9c;
$navbar-default-link-active-color: #1abc9c;
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-border-color: transparent;
$navbar-default-toggle-icon-bar-bg: #fff;

